<header>
    <h1>Carvalho Design & Co</h1>
    <ul class="navmenu">
        <li><a href="/products">home</a></li>
        <li><a href="/products/new">add jewelry</a></li>
        <li><a href="#">young and free</a></li>
        <li><a href="#">accessories</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">login</a></li>
    </ul>
</header>