<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Store Index Page</title>
</head>
<body>
    <nav>
        <a href="/products/new"> Add New Jewelry</a>
    </nav>
    <h1>Jewelry Store</h1>
    <ul>
        <% products.forEach(product => { %>
         <li>
            <%= product.name %> 
         </li>
         <% }); %>

    </ul>
</body>
</html>