<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
<body>
    <nav>
        <a href="/products/new"> Add New Jewelry</a>
    </nav>

    <h1>Jewelry Store</h1>
    
    <ul>
        <% products.forEach(product => { %>
         <li>
            <a href="/products/<%= product._id %>"><%= product.name %> </a>

         </li>
         <% }); %>

    </ul>
    <!-- ============ FOOTER ============ -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>